.Product {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.342);
  top: 0;
  left: 0;
}
.Product_main {
  position: relative;
  background-color: rgb(255, 255, 255);
  margin: 8% 19%;
  width: 60%;
  height: 65%;
}
.Product_main_left img {
  position: absolute;
  left: 0;
  width: 50%;
  height: 100%;
}
.Product_main_right {
  position: absolute;
  left: 50%;
  width: 50%;
  height: 100%;
}
#close {
  padding: 2px 4px;
  margin-top: 2%;
  margin-left: 93.5%;
  cursor: pointer;
}
.Product_main_right_content {
  margin-left: 10%;
  width: 83%;
  height: 80%;
}
.Product_main_right_content h5 {
  padding-left: 6%;
  padding-top: 7%;
  user-select: none;
}
.Price {
  padding-left: 6%;
  color: grey;
  user-select: none;
}
.Product_main_right_content p {
  width: 100%;
  padding-left: 6%;
  color: grey;
  font-size: 10px;
  user-select: none;
  font-weight: 200;
}
.Clickbuy {
  background-color: rgb(56, 56, 56);
  color: white;
  border: none;
  font-size: 12px;
  padding: 5px 7px;
  margin-left: 6%;
  text-align: center;
}
#cart {
  margin-left: 0;
  color: white;
}
